@model Open.Facade.Quantity.DebitCardView

@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    ViewBag.Button = "Create";
    Layout = "_EditPartial";
}

<body>
@await Html.PartialAsync("_EditDebitCard", Model)
</body>

@section Actions{ @Html.ActionLink("Back to List", "Index") }