@model Open.Facade.Quantity.DebitCardView

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    ViewBag.Button = "Delete";
    Layout = "_DeletePartial";
}

<body>
@await Html.PartialAsync("_ViewDebitCard", Model)
</body>

@section Actions{ @Html.ActionLink("Back to List", "Index") }