@model Open.Facade.Quantity.CreditCardView

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    Layout = "_DetailsPartial";
}

<body>
    @await Html.PartialAsync("_ViewCreditCard", Model)
</body>

@section Actions{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")
}