@model Open.Facade.Quantity.CheckView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
    @await Html.PartialAsync("_EditCheck", Model)
</body>

@section Actions{ @Html.ActionLink("Back to List", "Index") }