@model Open.Sentry.Models.AccountViewModels.CreditsViewModel

@{
    ViewData["Title"] = "Money Editor";
    Layout = "_EditPartial";
}
<body>
    <div class="row">
        <div class="col-md-4" style="background-color: #B3CBDE" ;>
            <h2>@ViewData["Title"]</h2>
            <form>
                <h4>Text</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credits"></label>
                    <input asp-for="Credits" class="form-control" />
                    <span asp-validation-for="Credits" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</body>