.table {
	border-collapse: collapse;
	width: 100%;
	background-color: #B3CBDE;
	opacity: 70;
}

tr:nth-child(even) {
	background-color: #95b5d0;
}



.button4 {
	position: relative;
	text-align: center;
	color: black;
	border: 5px solid #008CBA;
	padding: 15px 32px;
	background-color: #dce6ef;
	border-radius: 8px;
}
.button1 {
	text-align: center;
	color: black;
	padding: 1px 12px;
	border: 1px solid #008CBA;
	background-color: #dce6ef;
	border-radius: 7px;
	position: sticky;
}

.button2 {
	text-align: center;
	color: black;
	padding: 4px 10px;
	border: 1px solid #008CBA;
	background-color: #dce6ef;
	border-radius: 7px;
	position: sticky;
}



.button5 {
	text-align: center;
	color: black;
	padding: 15px 32px;
	border: 3px solid #008CBA;
	background-color: #dce6ef;
	border-radius: 7px;
}
