@{
    Layout = "_Layout";
}

<h2 style="color: white">@ViewBag.Title</h2>

<div class="form-horizontal">
    <h4>@ViewBag.SubTitle</h4>
    <hr />

    @RenderBody()

</div>

<div>
    @RenderSection("Actions")
</div>

