@{
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div class="form-horizontal">
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @RenderBody()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ViewBag.Button class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @RenderSection("Actions")
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


