.button1 {
	background-color: #dce6ef;
	color: black;
	border: 2px solid #008CBA;
	border-radius: 20px;
	position: relative;
	left :40px;
	top:5px;
	padding: 1px 6px;
	text-align: center;
	display: inline-block;
	font-size: medium;
	margin: auto auto;
}
