
body {
    position: relative;
    top: 20px;
	background-image: url(../../45.jpg);
}

        footer {
            color: aliceblue;
        }

.navbar {
    position: fixed;
	background-color: black;
	opacity: initial;
	top:5px;
	z-index: 2;
	width: 100%;
}


.dropbtn {
 background-color:black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

        .dropdown {
            position: relative;
            display: inline-block;
        }

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 3px 5px 16px 0 black;
	z-index: 1;
}

            .dropdown-content a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #24547B;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }


.dropdown:hover .dropbtn {
	background-color: #24547B;
}

.cart {
    position: absolute;
    top: 8px;
    height: 40px;
    width: 126px;
}
.input {
    position: relative;
    left: 14px;
    top: 4px;
}

.p {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 24px;
}

