
body {
    position: relative;
    top: 20px;
    background: url(../../images/wall3.jpg) no-repeat center center fixed;
    background-size: cover;
}

        footer {
            color: aliceblue;
        }

.navbar {
    position: fixed;
	background-color: black;
	opacity: initial;
	z-index: 2;
    top: 0;
	width: 100%;
}


.dropbtn {

 background-color:black;
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 3px 5px 16px 0 black;
	z-index: 1;
}

            .dropdown-content a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #24547B;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }


.dropdown:hover .dropbtn {
	background-color: #24547B;
}

.cart {
    position: absolute;
    top: 8px;
    height: 40px;
    width: 126px;
}
.input {
    position: relative;
    left: 14px;
    top: 4px;
}

.p {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 24px;
}

