@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Goods.GoodView>

@{
    ViewBag.Title = "Goods";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create New</a>
}
<style>
    body {
        background-color: #26403B;
    }
    </style>
<body>
    <table class="table">
        @{var dummy = Model.FirstOrDefault();}
        <thead>
        <tr>
            @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
            @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.Price)
            @Html.SortColumnHeaderFor(ViewData["SortImage"], model => dummy.FileLocation)
        </tr>
        </thead>
    </table>
</body>

<h2>title</h2>
