@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <h1>How can we help you today?</h1>
    <p>Get personalized help and see your recent orders</p>
    <p>Browse Help Articles</p>
    <div class="row">
        <div class="col-sm-4">
            
        
            <div class="col-sm-4" style="">
                Shipping & Tracking
                <p> <span class="glyphicon glyphicon-home"></span></p>
            </div>

            <div class="col-sm-4">Account
                <p> <span class="glyphicon glyphicon-user"></span></p>   </div>

        <div class="col-sm-4" style="">
            Returns & Refunds
            <p> <span class="glyphicon glyphicon-usd"></span></p>
        </div>
    </div>
</div>
</div>
