
@{
    ViewData["Title"] = "Accessories";
}
<style>
 body {
            border-style: dotted;
            background-color: #26403B;
            padding-top: 120px;
            color: #ffffff;
           
        }
 </style>


<body>
<h2>Accessories</h2>
    </body>
