
@{
    ViewData["Title"] = "Accessories";
}
<style>
    body {
        font: 16px "Montserrat", sans-serif;
        background-color: #B3CBDE;
        padding-top: 120px;
        color: #ffffff;
    }
 </style>


<body>
<h2>Accessories</h2>
    </body>
