@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<li><a asp-area="" asp-controller="Countries" asp-action="Index">Countries</a></li>
<li><a asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a></li>
