
    <div class="container-fluid bg-1 text-center">
        @model object

        @{
            ViewBag.Title = "title";
            Layout = "_Layout";
        }

        <h2>title</h2>
        </div>
