
    <div class="goods" style="background-color:#26403B;">
        @model object

        @{
            ViewBag.Title = "title";
            Layout = "_Layout";
        }

        <h2>title</h2>
        </div>

