
<style>
    body {
      
        background-color: #0094ff;
        padding-top: 120px;
        color: #ffffff;
        
    }
</style>
<body>
@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
    </body>