@{
    ViewData["Title"] = "Sentry";
}

<div class ="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Sentry</h2>
        <p>
            Sentry (Sample Entry) is a flexible and customizable
            by the end user LIMS (Laboratory Information
            Management System) for clinical and clinical
            research laboratories.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>
            You can build the application by following the steps
            in a series of tutoeials.
        </p>
        <p>
            <a class="btn btn-default"
               href="http://docs.asp.net/en/latest/data/ef-mcv/intro.html">See the totorial &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Download it</h2>
        <p>
            You can download the completed project from GitHub.
        </p>
        <p>
            <a class="btn btn-default"
               href="http://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a>
        </p>
    </div>

</div>
