<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 15px Montserrat, sans-serif;
        }
        p {
            font-size: 18px;
        }
       .bg-1 {
            background-color: #253056;
            padding-top: 120px;
            color: #ffffff;
            font: 20px Montserrat, sans-serif;
        }
        .bg-3 {
            background-color: #253056; /* Dark Blue */
            color: #ffffff;
            font: 20px Montserrat, sans-serif;
        }
        .bg-4 {
            background-color: #253056; /* Black Gray */
            color: #fff;
            padding-bottom: 120px;
            font: 20px Montserrat, sans-serif;
        }
    </style>
</head>
<body >

    
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Welcome to GWork Shop</h3>
        <img src="serv.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Service" width="350" height="350">
        <h3>
            Be one of the first to try out our new online store and discover all the advantages and services that we’ve created just for you.
            We’re constantly improving our service to keep up with your needs. This is only the beginning.
        </h3>
        <button class="btn btn-info">See items</button>
    </div>
    

<div class="container-fluid bg-3 text-center">
        <h3 class="margin">Hot items!</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>Affordable price</p>
                <img src="21.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                <button class="btn btn-info">Buy</button>
            </div>
            <div class="col-sm-4">
                <p>Best quality</p>
                <img src="23.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                <button class="btn btn-info">Buy</button>
            </div>
            <div class="col-sm-4">
                <p>Some text</p>
                <img src="1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
        </div>
    </div>   
</body>
</html>






    @*<div class="jumbotron" style="background-color: #4C4B4E">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 style="color: aliceblue">Welcome to GWork Shop</h1>
                    </div>
                </div>
                <p>
                    <font color="white">
                        Be one of the first to try out our new online store and discover all the advantages and services that we’ve created just for you.
                        We’re constantly improving our service to keep up with your needs. This is only the beginning.
                    </font>
                    <button class="btn btn-info">See items</button>

                </p>
            </div>
        </div>*@

@*<div class="container-fluid">
    <h1>Hot items!</h1>
    <p> Affordable price</p>

    <div class="row">
        <div class="col-sm-4">1</div>

        <h3>Thumbnail</h3>

        <img src="21.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">*@
@*<button class="btn btn-info">Buy</button>*@


@*<div class="col-sm-4">2</div>

            <h3>Circle</h3>

            <img src="23.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <button class="btn btn-info">Buy</button>


            <div class="col-sm-4">3</div>

        </div>
    </div>*@









