
 <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body style="background-color:floralwhite;">

<div class="jumbotron" style="background-color: #4C4B4E">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 style="color: aliceblue">Welcome to GWork Shop</h1>
            </div>
        </div>
        <p>
            <font color="white">
                Be one of the first to try out our new online store and discover all the advantages and services that we’ve created just for you.
                We’re constantly improving our service to keep up with your needs. This is only the beginning.
            </font>
            <button class="btn btn-info">See items</button>
           
        </p>
    </div>
</div>
<div class="container">
    <p>This is some text.</p>      
        
</div>
    </body>
<div class="row">
    <div class="col-md-4">
        <p class="text-warning">.</p>
        <h2>Thumbnail</h2>
        <p>The .img-thumbnail class creates a thumbnail of the image:</p>            
        <img src="21.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 

    </div>
    <div class="col-md-8">
    <div class="container">
        <h2>Circle</h2>
        @*<p>The .img-circle class shapes the image to a circle (not available in IE8):</p>*@            
        <img src="23.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
    </div>
</div>

    </div>
