<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        p {
            font-size: 18px;
        }
        .bg-1 {
            background-color: #B3CBDE;
            padding-top: 120px;
            color: #ffffff;
            font: 16px "Montserrat", sans-serif;
        }
        .bg-3 {
            background-color: #B3CBDE;
            color: #ffffff;
            font: 16px "Montserrat", sans-serif;
        }
        .bg-4 {
            background-color: #B3CBDE;
            color: #fff;
            padding-bottom: 120px;
            font: 16px "Montserrat", sans-serif;
        }
        fd {
            color: #111111;
        }
    </style>
</head>
<body >
<div class="container-fluid bg-1 text-center">
    <h3 style="font-size: 50px; color: black; opacity: 0.9"><strong>Welcome to GWork Shop</strong></h3>

    <h2 style="color: black; font-family: sans-serif; opacity: 0.6">
        <b>Best provider of car performance</b>
    </h2>
    <br>
    <img src="https://pli.io/2jxing.png" alt="Logo" width="150" height="87">
    <br>
    <br>
    <br>
    <br>
    @*<h3 style="color: black">
            Be one of the first to try out our new online store and discover all the advantages and services that we’ve created just for you.
            We’re constantly improving our service to keep up with your needs. This is only the beginning.
        </h3>*@
    <form action="http://localhost:57494/goods">
        <button class="btn btn-success">Show products</button>
    </form>
    <br>
</div>
<br>
<br>

<div class="container-fluid bg-3 text-center">
    <h3 class="margin"><strong><font size="20"  color: black; face="Arial" >Hot items!</font></strong></h3><br>
<div class="row">
    <div class="col-sm-4">
        <p><strong>Antifreeze + coolant LONG LIFE</strong></p>
        <p></p>
        <img src="freez.png" alt="Image" width="255" height="255">
        <p><strong>8,99€</strong></p>
        <button class="btn btn-info">Buy</button>
    </div>
    <div class="col-sm-4">
        <p><strong>RIDEX Brake Disc Rear Axle</strong></p>
        <img src="ridex.png" alt="Image" width="255" height="255">
        <p><strong>14,99€</strong></p>
        <button class="btn btn-info">Buy</button>
    </div>
    <div class="col-sm-4">
        <p><strong>EXTREME Mobile phone holders</strong></p>
        <img src="horder.png" alt="Image" width="255" height="255">
        <p><strong>6,99€</strong></p>
             
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Buy</button>
                
        <div class="modal fade fd" id="myModal" role="dialog">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body" style="color:black">
                        <p> Thank You!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <br/>
</div>
</body>
</html>








