@{
    ViewData["Title"] = "Money";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<li><a asp-area="" asp-controller="Countries" asp-action="Index">Countries</a></li>
<li><a asp-area="" asp-controller="Currencies" asp-action="Index">Currencies</a></li>
<li><a asp-area="" asp-controller="RateTypes" asp-action="Index">Rate Types</a></li>
<li><a asp-area="" asp-controller="Rates" asp-action="Index">Rates</a></li>
<li><a asp-area="" asp-controller="PaymentMethods" asp-action="Index">Payment methods</a></li>
<li><a asp-area="" asp-controller="Payments" asp-action="Index">Payments</a></li>
<li><a asp-area="" asp-controller="Calculator" asp-action="Index">Calculator</a></li>
