<style>
    body {
        border-style: dotted;
        background-color: #26403B;
        padding-top: 120px;
        color: #ffffff;
        
    }
</style>
<body>
@{
    ViewData["Title"] = "SpareParts";
}

<h2>SpareParts</h2>
</body>
