@using Open.Sentry.Resource
@inject LocService SharedLocalizer
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="~/css/home/team.css" />
        <link rel="stylesheet" href="~/css/home/layout.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1> </h1>
        <h2 style="color: white; text-align:center">

            @SharedLocalizer.GetLocalizedHtmlString("Home.Team.Meet")
        </h2>

        <div class="col-md-3 ml-md-auto">
            <div class="card">
                <img src="~/images/artem.jpg" alt="Artjom Lipodat" style="width: 100%">
                <h2>Artjom Lipodat</h2>
                <p class="title">Student</p>
                <p>TalTech University</p>
                <div style="margin: 24px 0;">
                    <a href="https://plus.google.com/105121202281622035475"><i class="fa fa-google"></i></a>
                    <a href="https://www.instagram.com/lipodat_mladshiy"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/artjom.lipodat?jazoest=2651001227676114575711510212171754872112765579661181101207045669586561071075685114119112981126753101117116831106558651001201086986671051028950115679011012010966101122121681121036810085771131018357118711127973795177120109688950103"><i class="fa fa-facebook"></i></a>

                </div>

            </div>
        </div>

        <div class="col-md-3 ml-md-auto">
            <div class="card">
                <img src="~/images/jana.jpg" alt="Yana Sirotkina" style="width:100%">
                <h2>Yana Sirotkina</h2>
                <p class="title">Student</p>
                <p>TalTech University</p>
                <div style="margin: 24px 0;">
                    <a href="https://plus.google.com/103393733106004170611"><i class="fa fa-google"></i></a>
                    <a href="https://www.instagram.com/yanaharrison"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/yana.harrison.9?jazoest=2651001227676114575711510212171754872112765579661181101207045669586561071075685114119112981126753101117116831106558651001201086986671051028950115679011012010966101122121681121036810085771131018357118711127973795177120109688950103"><i class="fa fa-facebook"></i></a>

                </div>
            </div>
        </div>

        <div class="col-md-3 ml-md-auto">
            <div class="card">
                <img src="~/images/mark.jpg" alt="Mark Porohnja" style="width:100%">
                <h2>Mark Porohnja</h2>
                <p class="title">Student</p>
                <p>TalTech University</p>
                <div style="margin: 24px 0;">
                    <a href="https://plus.google.com/105857026344567296953"><i class="fa fa-google"></i></a>
                    <a href="https://www.instagram.com/m.romanson"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/porokhnya.m?jazoest=2651001227676114575711510212171754872112765579661181101207045669586561071075685114119112981126753101117116831106558651001201086986671051028950115679011012010966101122121681121036810085771131018357118711127973795177120109688950103"><i class="fa fa-facebook"></i></a>

                </div>
            </div>
        </div>

        <div class="col-md-3 ml-md-auto">
            <div class="card">
                <img src="~/images/luiza.jpg" alt="Luiza Meshalkina" style="width:100%">
                <h2>Luiza Meshalkina</h2>
                <p class="title">Student</p>
                <p>TalTech University</p>
                <div style="margin: 24px 0;">
                    <a href="https://plus.google.com/u/0/109111317469700518013"><i class="fa fa-google"></i></a>
                    <a href="https://www.instagram.com/luiza9b"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/luizamesh9?jazoest=2651001227676114575711510212171754872112765579661181101207045669586561071075685114119112981126753101117116831106558651001201086986671051028950115679011012010966101122121681121036810085771131018357118711127973795177120109688950103"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </body>
    </html>

