<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Bootstrap Theme The Band</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
</head>
<body>
<div class="container text-center">
    <h1 style="color:#ffffff" size="35"><strong>Meet our team!</strong></h1>
    <p style="color:#e6e6e6"><em>We are always ready to help and try to provide good service.</em></p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p style="color:#e6e6e6"><strong><i>Artjom Lipodat</i></strong></p><br>
            <img src="23.jpg" alt="Random Name" width="255" height="255">
        </div>
        <div class="col-sm-4">
            <p style="color:#e6e6e6"><strong><i>Mark Porohnja</i></strong></p><br>
            <img src="2.jpg" alt="Random Name" width="255" height="255">
        </div>
        <div class="col-sm-4">
            <p style="color:#e6e6e6"><strong><i>Luizi-Anna Meshalkina</i></strong></p><br>
            <img src="3.jpg" alt="Random Name" width="255" height="255">
        </div>
        <div class="col-sm-4">
            <p style="color:#e6e6e6"><strong><i>Yana Sirotkina</i></strong></p><br>
            <img src="3.jpg" alt="Random Name" width="255" height="255">
        </div>
    </div>
</div>
</body>
</html>
