<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            opacity: 0.89;
            font: 16px "Montserrat", sans-serif;
        }
        div.gallery {
           
            background-color: #B3CBDE;
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
            
        }
            div.gallery:hover {
              
                background-color: #B3CBDE;
                border: 1px solid #777;
            }
            div.gallery img {
                width: 100%;
                height: auto;
            }
        div.desc {
            text-align: center;
        }
    </style>
</head>
<body> 
<div class="container text-center" style="background-color: #B3CBDE; opacity: 70;">
    <h1 style="color: black" font: 20px "Montserrat", sans-serif;><strong>Meet our team!</strong></h1>
    <p style="color: black" font: 16px "Montserrat", sans-serif;><em>We are always ready to help and try to provide good service.</em></p>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <p style="color: black"><strong><i>Artjom Lipodat</i></strong></p><br>
            <img src="https://pp.userapi.com/c847021/v847021286/1167b2/G7edKdNHazM.jpg" alt="Random Name" width="300" height="300">
        </div>
        <div class="col-sm-6">
            <p style="color: black"><strong><i>Mark Porohnja</i></strong></p><br>
            <img src="https://pp.userapi.com/c847120/v847120286/11b82c/biA0VT4O828.jpg" alt="Random Name" width="300" height="300">
        </div>
        <div class="col-sm-6">
            <p style="color: black"><strong><i> </i></strong></p><br>
            <img src="https://pp.userapi.com/c851136/v851136021/340fc/y2ABmJ8izEY.jpg" alt="Random Name" width="300" height="300">
            <p style="color: black"><strong><i>Luizi-Anna Meshalkina</i></strong></p><br>
        </div>
        <div class="col-sm-6">
            <p style="color: black"><strong><i> </i></strong></p><br>
            <img src="https://pp.userapi.com/c846220/v846220286/11e554/GDxZnwxRrZo.jpg" alt="Random Name" width="300" height="300">
            <p style="color: black"><strong><i>Yana Sirotkina</i></strong></p><br>
        </div>
    </div>
</div>
</body>
</html>



