<!DOCTYPE html>
<html lang="en">

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    <style>
        body {
            background-color: #26403B;
            color: #ffffff;
           
        }
        
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            /*padding: 15px;*/
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 style="color:#ffffff" size="35"><strong>Meet our team!</strong></h1>
        <p style="color:#e6e6e6"><em>We are always ready to help and try to provide good service.</em></p>
        <br>
        <div class="row">
            <div class="col-sm-8">
                <p style="color:#e6e6e6"><strong><i>Artjom Lipodat</i></strong></p><br>
                <img src="https://pp.userapi.com/c846121/v846121856/10b7db/4odwpGlWfjk.jpg" alt="Random Name" width="255px" height="255px" border="1px">
            </div>
            <div class="col-sm-8">
                <p style="color:#e6e6e6"><strong><i>Mark Porohnja</i></strong></p><br>
                <img src="https://pp.userapi.com/c639618/v639618944/2e5fc/1r7EDPTGzA8.jpg" alt="Random Name" width="255px" height="255px" border="1px">
            </div>
            <div class="col-sm-8">
                <p style="color:#e6e6e6"><strong><i>Luizi-Anna Meshalkina</i></strong></p><br>
                <img src="https://pp.userapi.com/c849416/v849416782/8b224/wJHPNc7tc1c.jpg" alt="Random Name" width="255px" height="255px" border="1px">
            </div>
            <div class="col-sm-8">
                <p style="color:#e6e6e6"><strong><i>Yana Sirotkina</i></strong></p><br>
                <img src="https://pp.userapi.com/c824600/v824600604/17a11a/nRgCMDCPLWo.jpg" alt="Random Name" width="255px" height="255px" border="1px">
            </div>



            @*<div class="gallery">
                <a target="_blank" >
                    <img src="https://pp.userapi.com/c846121/v846121856/10b7db/4odwpGlWfjk.jpg"class="img-circle" alt="Cinque Terre" width="700px" height="700px" border ="1px">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank">
                    <img src="https://pp.userapi.com/c639618/v639618944/2e5fc/1r7EDPTGzA8.jpg"class="img-circle" alt="Forest" width="255px" height="255px" border ="1px">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank" >
                    <img src="https://pp.userapi.com/c849416/v849416782/8b224/wJHPNc7tc1c.jpg" class="img-circle"alt="Northern Lights" width="255px" height="255px" border ="1px">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank">
                    <img src="https://pp.userapi.com/c824600/v824600604/17a11a/nRgCMDCPLWo.jpg"class="img-circle" alt="Mountains" width="255px" height="255px" border ="1px">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>*@

        </div>
    </div>

</body>
</html>



