@model Open.Facade.Party.EMailAddressView

@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    ViewBag.Button = "Create";
    Layout = "_EditPartial";
}

<body>
    @await Html.PartialAsync("_EditEmail", Model)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


