@model Open.Facade.Party.GeographicAddressView

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    ViewBag.Button = "Delete";
    Layout = "_DeletePartial";
}

<body>
    @await Html.PartialAsync("_ViewAddress", Model);
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}




