@model Open.Facade.Party.TelecomAddressView

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    Layout = "_DetailsPartial";
}

<body>
@await Html.PartialAsync("_ViewTelecom", Model)
</body>

@section Actions{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")
}

