@model Open.Facade.Party.TelecomAddressView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
@await Html.PartialAsync("_EditTelecom", Model)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


